.App {
  text-align: center;
}

body .MUIDataTable-responsiveScroll-851 {
  max-height: 100% !important;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

body {
  text-align: 'center';
  position: 'relative';
  left: 'auto';
  right: 'auto';
}

h2 {
  font-weight: bold;
}

.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: #4287f5;
  transform: rotate(0.8turn)
}

p {
  margin: auto;
}